   <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%= link_to 'Все карточки', cards_path %></li>
          <li><%= link_to 'Добавить карточку', new_card_path %></li>
        </ul>
        <h3 class="text-muted">Флешкарточкер</h3>
      </div>

  <section id="container">
    <section>
      <p style="font-size: 22px;">
        <br>
       <table class="table table-hover">
        <tr>
          <th>Original</th>
          <th>Translated</th>
          <th>Review date</th>
        </tr>

  <% @card.each do |card| %>
    <tr>
      <td><%= card.original_text %> <br> <%= link_to '[удалить]', card_path(card), method: :delete, data: { confirm: 'Are you sure?' }%> <%= link_to '[править]', edit_card_path(card) %></td>

     <td><%= card.translated_text %></td>
      <% if !card.review_date.blank? %><td><%= card.review_date.strftime("%d/%m/%Y") %><% end %></td>
    </tr>
  <% end %>
</table>

      </p>
    </section>
  </section>
