<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
    <span class="close" data-dismiss="alert">&times;</span>
    <%= msg %>
  </div>
<% end %>


  <%= form_tag check_path, method: :post do %>
  <%= text_field_tag :user_answer, nil, class: 'form-control' %>
  <%= @card.translated_text %>
  <%= hidden_field_tag :card_id, @card.id %>
  <button>Check!</button>
<% end %>
