<h1> test</h1>
<section id="container">
    <section>
      <p style="font-size: 22px;">
        <br>
       <table class="table table-hover">
        <tr>
          <th>Original</th>
          <th>Translated</th>
          <th>Review date</th>
        </tr>

  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %><%= link_to '[удалить]', card_path(card), method: :delete %> <br><%= link_to '[править]', edit_card_path(card) %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y") %>
      </td>
 </tr>
  <% end %>
</table>
